/* Container */
.taskListContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px;
    overflow: auto;
  }

.taskList {
  list-style-type: none;
}

/* New Task */
.newTaskForm {
  background-color: var(--gray-1);
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.newTaskForm:focus-within {
  background-color: var(--blue-2);
  outline: 1px solid var(--blue-3);
  outline-offset: -1px; /* is this right? */
}

.newTaskForm input {
  background: none;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 12px;
  width: 100%;
}

.taskListBelow {
  height: 100%;
}

/* Task Item */
.taskItem {
  user-select: text;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.taskItem:hover:not(.selectedTask) {
  background-color: var(--blue-1);
}

.selectedTask {
  background-color: var(--blue-2);
}

.draggingTask {
  opacity: 0.5;
  outline: 0.5px solid var(--blue-3);
  outline-offset: -1px; /* is this right? */
}

.taskItem input[type="checkbox"] {
  margin-right: 10px;
  border: 2px solid var(--blue-3);
}

.taskItemTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.taskTitle {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
}

input.taskTitle {
  background-color: transparent;
  border: none;
  outline: none;
}

.taskDescription {
  font-size: 12px;
  margin: 0px;
}

input.taskDescription {
  background-color: transparent;
  border: none;
  outline: none;
}

.spanTest {
  font-size: 12px;
  padding-left: 10px
}