.taskListContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px;
  }

  .taskList {
    list-style-type: none;
  }

  /* input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
  }

  input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  } */

  .taskListBelow {
    height: 100%;
    background-color: red;
  }

  .taskItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid lightslategray;
    border-radius: 3px;
  }

  .selectedTask {
    background-color: var(--primary-dark);
  }

  .taskItem:hover {
    background-color: var(--primary-dark);
  }

  .taskItemCheckbox {
    margin-right: 10px;
  }

  .taskTitle {
    font-weight: bold;
    margin: 0px;
  }

  .taskDescription {
    font-size: 12px;
    margin: 0px;
  }

  .newTaskForm {
    display: flex;
    flex-direction: column;
  }

  .spanTest {
    font-size: 12px;
    padding-left: 10px
  }