.App {
  text-align: center;
  display: flex;
}

.header {
  margin: 20px;
  display: flex;
}

.taskListContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.taskList {
  list-style-type: none;
  padding-left: 0px;
}

.taskItem {
  border: 2px solid lightslategray;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  padding: 5px;
}

.taskItem:hover {
  background-color: lightgray;
}

.taskItemCheckbox {
  margin-right: 10px;
}

.taskTitle {
  font-weight: bold;
  margin: 0px;
}

.taskDescription {
  font-size: 12px;
  margin: 0px;
}

.newTaskForm {
  display: flex;
  flex-direction: column;
}

.spanTest {
  font-size: 12px;
  padding-left: 10px
}