.App {
  text-align: center;
}

.header {
  margin: 20px;
  display: flex;
}

.taskList {
  list-style-type: none;
  padding-left: 0px;
}

.taskItem {
  border: 2px solid skyblue;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.taskItem:hover {
  background-color: skyblue;
}

.taskTitle {
  font-weight: bold;
  margin: 0px;
}

.taskDescription {
  font-size: 12px;
  margin: 0px;
}

.newTaskForm {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
